* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0; /* Add margin reset for body */
}

header {
    height: 60px;
    width: 95%;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
}

#logo-header {
    width: 975px;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

#logo-header img {
    width: 120px;
    margin-left: 0px;
}
main {
    width: 100%;
    padding-bottom: 50px; /* Adjust the padding to control the space inside the main card */
    padding-top: 20px; /* Adjust the padding to control the space inside the main card */
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-card {
    border: solid 1px #dbdbdb;
    width: 390px;
    height: 555px;
    margin: 10px auto; /* Reduce top margin to bring it closer to the header */
    display: flex;
    flex-direction: column;
    font-family: 'Robot', sans-serif;
}

#img {
    display: flex;
}

#img img {
    margin: 10px auto 0px;
}

#info {
    margin-top: 5px;
    height: 100%;
}

h1 {
    font-size: 16px;
    color: #2a2929;
    text-align: center;
    font-weight: 600;
}

#text {
    margin: 10px auto;
    color: #807e7e;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    width: 80%;
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
}

input {
    width: 290px;
    height: 38px;
    background-color: #fafafa;
    outline: none;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    margin: 6px auto 0px;
    padding-left: 10px;
    padding-right: 60px;
    padding-top: 5px;
    position: relative;
}

label {
    position: absolute;
    color: #807e7e90;
    font-size: 14px;
    transition: all 200ms ease-in-out;
}

label:hover {
    cursor: text;
}

#el {
    position: absolute;
    transform: translate(57px, 19px);
}

#email:valid ~ #el {
    transform: translate(59px, 10px);
    font-size: 10px;
}

button {
    width: 290px;
    height: 32px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #b2defce9;
    color: rgb(255, 255, 255);
    margin: 15px auto 0px;
    transition: all 200ms ease-in-out;
}

input:valid ~ button {
    background-color: #0095f6;
}

input:valid ~ button:hover {
    cursor: pointer;
    background-color: #1877F2;
}

#senha {
    text-align: center;
    margin-top: 10px;
}

#senha a {
    font-size: 12px;
    text-decoration: none;
    color: #385185;
}

#senha a:visited {
    color: #385185;
}

#ou {
    display: flex;
    width: 270px;
    margin: 30px auto 0px;
    align-items: center;
    justify-content: space-between;
    color: #807e7e;
    font-size: 13px;
    font-weight: 700;
}

.line {
    border: solid 1px #dbdbdb;
    width: 120px;
    height: 1px;
}

#new-acc {
    text-align: center;
    margin-top: 20px;
}

#voltar {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    border: solid 1px #dbdbdb;
    margin-top: 90px;
}

#voltar a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-acc a, #voltar a {
    color: #2a2929;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    transition: all 150ms ease-in-out;
}

#new-acc a:visited, #voltar a:visited {
    color: #2a2929;;
}

#new-acc a:hover, #voltar a:hover {
    color: #2a2929b7;;
}

footer {
    margin: auto auto;
    bottom: 0%;
    position: fixed;
    width: 100%;
    height: 110px;
    text-align: center;
    font-size: 12px;
    color: #807e7e;
    font-weight: 500;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
}

footer span:hover {
    cursor: pointer;
    text-decoration: underline;
}

#first {
    width: 1100px;
    max-width: 100%;
    height: 30px;
    max-height: 65px;
    margin: 25px auto 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#first span {
    margin-left: 7px;
    margin-right: 8px;
}

#second {
    width: 300px;
    margin: 30px auto ;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 450px) {
    footer {
        position: relative;
    }

    #first {
        max-height: none;
        height: fit-content;
        max-width: 90%;
        padding-bottom: 10px;
        margin-top: 0px;
    }
    
    #second {
        margin-top: 0px;
        max-width: none;
        width: 100%;
    }
}

@media (max-width: 390px) {
    #main-card {
        width: 100%;
    }

    input, button, #ou {
        width: 90%;
    }

    .line {
        width: 44%;
    }
    
    form {
        position: normal;
    }

    #email:valid ~ #el {
        transform: translate(57px, 10px);
    }
}

@media (max-width: 330px) {
    #el {
        transform: translate(27px, 19px);
    }
}