{% extends 'base_chats.html' %}
{% load chat_extras %}

{% block slide1 %}
    <div class="box community">
        <div class="data">
            <div class="chatlist">
                <div class="block">
                    <div class="details">
                        <div class="listhead">
                            <ion-icon name="people-outline" class="user"></ion-icon>
                            <h4>New Community</h4>
                            <div class="plus1">+</div>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block slide2 %}
    <style>
        .fab {
            position: fixed;
            bottom: 15%; /* Adjusted to bottom */
            right: 10%; /* Adjusted to right */
            z-index: 1000;
            border-radius: 20%;
            width: 60px;
            height: 60px;
            background-color: #25d366;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .fab:hover {
            background-color: #15c25a;
        }

        @media screen and (max-width: 768px) {
            .fab {
                bottom: 17%; /* Adjusted to bottom */
                right: 3%; /* Adjusted to right */
                width: 50px;
                height: 50px;
                font-size: 24px;
                z-index: 1001; /* Increased z-index */
            }
        }


    </style>


    <div class="box chats">
        <div class="data">
            <div class="chatlist">
                {% for conversation in conversations %}
                    {% for participant in conversation.participants.all %}
                        {% if participant != request.user.account %}
                            <a href="{% url 'chat' conversation.id %}" class="block unread open1"
                               style="text-decoration: none; color: black">
                                <div class="imgbox">
                                    <img src="{{ participant.profile_picture.url }}" alt="{{ participant.full_name }}"/>
                                </div>
                                <div class="details">
                                    <div class="listhead">
                                        <h4>{{ participant.full_name }}</h4>
                                        {% if conversation.latest_message %}
                                            <p class="time">{{ conversation.latest_message.timestamp|display_time }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="message_p">
                                        {% if conversation.latest_message %}
                                            <p class="message-text">
                                                {% if conversation.latest_message.sender == request.user.account %}
                                                    <div class="tick-icon"
                                                         style="display: inline-block; vertical-align: middle; margin-right: 5px;">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                             viewBox="0 0 20 20"
                                                             width="20"
                                                             height="20"
                                                             aria-label="read"
                                                             class="blue-tick">
                                                            <path fill="currentColor"
                                                                  d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"></path>
                                                        </svg>
                                                    </div>
                                                {% endif %}
                                            {{ conversation.latest_message.text|truncatechars:27 }}
                                            </p>
                                        {% endif %}
                                        <b>{{ conversation.unread_count }}</b>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>

        </div>

    </div>
    <button id="fab" class="fab">
        <i class="material-icons">message</i>
    </button>




{% endblock %}

{% block slide3 %}

    <div class="box updates">
        <div class="data">
            <div class="chatlist">
                <div class="block">
                    <div class="details">
                        <div class="listhead">
                            <h4>Status</h4>
                            <p class="symbol">
                                <a href=""
                                >
                                    <ion-icon name="ellipsis-vertical-outline"></ion-icon
                                    >
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="block1">
                    <div class="status">
                        <div class="imgbx">
                            <img
                                    src="images/67ca404ae0ef09946eff92d268906eee.jpg"
                                    alt=""
                            />
                        </div>
                        <div class="plus">+</div>
                        <div class="imgbx unseen">
                            <img src="images/images (1).jpeg" alt=""/>
                        </div>
                        <div class="imgbx unseen">
                            <img
                                    src="images/Best-Nature-Whatsapp-Dp-Images.jpg"
                                    alt=""
                            />
                        </div>
                        <div class="imgbx seen">
                            <img src="images/images.jpeg" alt=""/>
                        </div>
                        <div class="imgbx seen">
                            <img src="images/images (3).jpeg" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="block2">
                    <div class="status">
                        <div class="sname">My Status</div>
                    </div>
                    <div class="status">
                        <div class="sname">Mom</div>
                    </div>
                    <div class="status">
                        <div class="sname">Dad</div>
                    </div>
                    <div class="status">
                        <div class="sname">Yashwitha</div>
                    </div>
                    <div class="status">
                        <div class="sname">Divya</div>
                    </div>
                </div>
                <div class="block">
                    <div class="details">
                        <div class="listhead">
                            <h4>Channels</h4>
                            <p class="symbol">
                                <a href="">
                                    <ion-icon name="add-outline"></ion-icon>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="details">
                        <div class="listhead">
                            <h4>
                                <ion-icon name="logo-whatsapp"></ion-icon>
                                WhatsApp
                            </h4>
                        </div>
                        <div class="message_p">
                            <p>
                                Big News!! Dont wait for the chance. Grab the chance
                                now!!!
                            </p>
                        </div>
                    </div>
                    <div class="imagebx">
                        <img src="images/1200x630wa.png" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block slide4 %}
    <div class="box calls">
        <div class="data">
            <div class="chatlist">
                <div class="block">
                    <div class="imgbox green">
                        <ion-icon name="link-outline"></ion-icon>
                    </div>
                    <div class="details">
                        <div class="listhead">
                            <h4>Create a call link</h4>
                        </div>
                        <div class="message_p">
                            <p>Share a link for your WhatsApp call</p>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="details">
                        <div class="listhead">
                            <h4>Recent</h4>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="imgbox">
                        <img src="images/IMG_20210615_171101.jpg" alt=""/>
                    </div>
                    <div class="details">
                        <div class="listhead">
                            <h4>Divya</h4>
                            <p class="call"></p>
                        </div>
                        <div class="message_p outgoing">
                            <p>
                                <ion-icon name="arrow-up-outline"></ion-icon>
                                Yesterday,
                                4:04
                            </p>
                        </div>
                    </div>
                    <ion-icon name="call-outline" class="call"></ion-icon>
                </div>
                <div class="block">
                    <div class="imgbox">
                        <img src="images/IMG_20210615_171101.jpg" alt=""/>
                    </div>
                    <div class="details">
                        <div class="listhead">
                            <h4>Srilekha</h4>
                            <p class="call"></p>
                        </div>
                        <div class="message_p outgoing">
                            <p>
                                <ion-icon name="arrow-up-outline"></ion-icon>
                                Yesterday,
                                4:04
                            </p>
                        </div>
                    </div>
                    <ion-icon name="call-outline" class="call"></ion-icon>
                </div>
                <div class="block">
                    <div class="imgbox">
                        <img src="images/IMG_20210615_171101.jpg" alt=""/>
                    </div>
                    <div class="details">
                        <div class="listhead">
                            <h4>Dad</h4>
                            <p class="call"></p>
                        </div>
                        <div class="message_p incoming">
                            <p>
                                <ion-icon name="arrow-down-outline"></ion-icon
                                >
                                Yesterday, 4:04
                            </p>
                        </div>
                    </div>
                    <ion-icon name="videocam-outline" class="call"></ion-icon>
                </div>
                <div class="block">
                    <div class="imgbox">
                        <img src="images/IMG_20210615_171101.jpg" alt=""/>
                    </div>
                    <div class="details">
                        <div class="listhead">
                            <h4>Mom</h4>
                            <p class="call"></p>
                        </div>
                        <div class="message_p incoming">
                            <p>
                                <ion-icon name="arrow-down-outline"></ion-icon
                                >
                                Yesterday, 4:04
                            </p>
                        </div>
                    </div>
                    <ion-icon name="videocam-outline" class="call"></ion-icon>
                </div>
            </div>
        </div>
    </div>
{% endblock %}