{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&  display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="{% static 'Login/src/styles/password.css' %}">
    <link rel="shortcut icon" href="{% static 'login/images/Logo_black.png' %}" type="image/x-icon">

    <title>Reset Password • MOBILPARK</title>
</head>
<body>
<header>
    <div id="logo-header">
        <img src="{% static 'login/images/Logo_black.png' %}" alt="MobilPark" style="width: 70px; height: 70px;">
    </div>
</header>

<main>
    <div id="main-card">
        <div id="img">
            <img src="{% static 'Login/src/imgs/cadeado.jpeg' %}">
        </div>
        <div id="info">
            <h1>Trouble Logging In?</h1>
            <div id="text">Enter your email, phone, or username <br> and we'll send you a link to get back into <br>
                your account.
            </div>
            </h1>

            <form method="Post">
                {% csrf_token %}
                <input type="text" name="data" id="data"  required>
                <label for="data" id="el">Email, phone, or username</label>

                <button type="submit">Send Login Link</button>
            </form>

            <div id="senha">
                <a href="https://help.instagram.com/374546259294234">Can't reset your password?</a>
            </div>

            <div id="ou">
                <div class="line"></div>
                OR
                <div class="line"></div>
            </div>

            <div id="new-acc">
                <a href="{% url 'register' %}">Create New Account</a>
            </div>

            <div id="voltar">
                <a href="{% url 'login' %}">Back to login</a>
            </div>
        </div>
    </div>
</main>

</body>
</html>
